html, body {
	position: relative;
	height: inherit;
	min-height: 100%;
}
.pin-clip-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9999;
}
.pin-clip-overlay.pin-clip-overlay-hidden {
	visibility: hidden;
}
.pin-clip-overlay > .pin-clip-overlay-origin {
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	overflow: visible;
}

.pin-clip-pin {
	position: absolute;
	width: 42px;
	height: 42px;
	border-radius: 42px;
	transform: translate(-50%, -50%);
	filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.4));
	cursor: all-scroll;
}
.pin-clip-pin > .pin-clip-pin-needle {
	position: absolute;
	z-index: 5;
	top: 24px;
	left: 7px;
	width: 0;
	height: 0;
	border-color: transparent;
	border-width: 42px 14px 0 14px;
	border-style: solid;
	transform-origin: center top;
	cursor: ew-resize;
}
.pin-clip-pin > .pin-clip-pin-input {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 42px;
	background-color: transparent;
	line-height: 42px;
	border: 0 none;
	border-radius: 42px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	cursor: inherit;
}

.pin-clip-bracket {
	position: absolute;
	width: 4px;
	transform: translate(-50%, -50%);
	filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.4));
	cursor: all-scroll;
}
.pin-clip-bracket > .pin-clip-bracket-top-tip {
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 4px;
	cursor: ew-resize;
}
.pin-clip-bracket > .pin-clip-bracket-bottom-tip {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 16px;
	height: 4px;
	cursor: ns-resize;
}
